body{
  background-color: rgb(0, 0, 72);
  padding:0;
  margin:0;
}
header{
  background-color: rgb(255,255,255);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  margin:0;
  padding:0;
}
button{
  color:rgb(0,0,72);
  font-size:1.5em;
  background-color:rgb(255,255,255);
  border:none;
  outline:none;
}
button:focus{
  outline: none;
}
nav{
  postion:fixed;
  top:0;
  left:0;
  width:100%;
  background-color: rgb(255,255,255);
  font-family:'open-sans', sans-serif;
}
nav li{
  color:rgb(0,0,72);
  text-align:center;
  display:block;
  line-height: 2em;
  width:100%;
  padding:0;
}
nav a{
  text-decoration: none;
  color:rgb(0,0,72);
}
nav ul{
  list-style: none;
  margin:0;
  padding:0;
  display:none;

}
section{
  margin-top:170px;
  font-family:'open-sans', sans-serif;
}
h1{
  color: rgb(255,255,255);
  text-align:center;
  font-family:'open-sans', sans-serif;
  font-size:2em;
}
p{
  color:rgb(255,255,255);
  font-size: 1.5em;
  font-family:'open-sans', sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}
footer{
  background-color:rgb(255,255,255);
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
}
footer p{
  color:rgb(0,0,72);
  font-size: 1em;
  text-align:center;
  font-family:'open-sans', sans-serif;
}

@media (min-width:900px){
  nav{
    height:50px;
  }
  nav ul{
    margin-top:1em;
    text-align: center;
    display:block !Important;
  }
  nav li{
    display:inline;
    text-align:none;
    padding-left:2em;
  }
  button{
    display: none;
  }


}
